.MessageArea {
  width: 100%;
  margin: 10px 0px;

  .Message {
    background-color: white;
    width: auto;
    padding: 10px;
    margin: 0;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    word-wrap:break-word;
    white-space: normal;
  }

  .UserName {
    margin: 0px;
  }
}
